@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5e6f9;
  height: 100vh;
  font-family: "Poppins";
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-right: 200px;
  margin-left: 200px;
}

header .nav-bar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

header .nav-bar-items {
  color: #1a202c;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
button:hover {
  cursor: pointer;
}

main #section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 40px;
  margin-bottom: 100px;
}

#section1 .main-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#section1 .main-title h1 {
  width: 800px;
  color: #1a202c;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 40px;
}

#section1 .main-title p {
  color: #4a5568;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  width: 800px;
}

button {
  border-style: none;
  width: 180px;
  height: 56px;
  border-radius: 100px;
  background: var(
    --btn-bg,
    linear-gradient(
      90deg,
      #0067f4 0%,
      #0067f4 17.71%,
      rgba(43, 219, 220, 0.5) 100%
    )
  );
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-buttons {
  display: flex;
  gap: 20px;
}

.main-buttons #watchButton {
  color: #3182ce;
  text-align: center;
  background: white;
}

#section2 {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

#section2 .side-image {
  width: 40%;
  align-items: center;
  display: flex;
  padding: 20px;
}
#section2 .side-image img {
  width: 100%;
}

#section2 .row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#section2 .details {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

#section2 .main-title h2 {
  color: #1a202c;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#section2 .main-title p {
  color: #4a5568;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#section2 .side-details {
  padding: 40px;
}

#section2 .text h5 {
  color: #1a202c;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#section2 .text p {
  color: #4a5568;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7fafc;
  width: 100%;
  padding-bottom: 100px;
}

#section3 .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section3 .title h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  color: #1a202c;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#section3 .title p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 800px;
  color: #4a5568;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 30px;
}

#section3 .card-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#section3 .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 30px;
  box-shadow: 0 5px 10px rgb(54, 52, 52);
  border-radius: 10px;
}

#section3 .card ul {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
.card #one {
  color: #81e6d9;
  text-align: center;
}
.card #two {
  color: #0067f4;
  text-align: center;
}
.card #three {
  color: #4da422;
  text-align: center;
}
#section3 li {
  padding: 8px;
}

#section3 .card .pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section3 .pricing h2 {
  color: #1a202c;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 30px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
footer .side-image {
  width: 60%;
  background-image: url(./assets/last\ pic.svg);
  height: 500px;
  background-size: cover;
  background-position: center;
}

footer .side-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3182ce;
  height: 500px;
}

footer .side-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  width: 70%;
  gap: 10px;
}

footer .side-text h2 {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer .side-text p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer .bottom-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .text-box {
  background-color: white;
  padding: 20px;
  border-radius: 50px;
  width: 450px;
  text-align: center;
  position: relative;
  margin: 20px;
}
footer #icon {
  position: absolute;
  z-index: 3;
  transform: translate(40px);
}

footer #subButton {
  all: unset;
  border-radius: 100px;
  background: #3182ce;
  color: white;
  position: absolute;
  transform: translate(-140px, -26px);
  padding: 15px;
}
